{% extends "base.html" %}

{% block title %}
    {{ article.title }}-Article
{% endblock %}

{% block content %}
<div class="articlePage">
        Title:{{ article.title }}<br/>
        PostTime:{{ article.postTime }}<br/>
        Email:{{ user.email[0]+"***"+user.email[user.email.index('@'):] }}<br/>
        Abstract:{{ article.abstract }}<br/>
        Highlight Part:{{ article.highlight_part }}<br/>
        Download Link:<a href="../{{ article.dl_link }}">download</a>
        <button><a href="../upvote/{{ article.id }}">up:{{ article.upvoteNum }}</a></button>
        <button><a href="../downvote/{{ article.id }}">down:{{ article.downvoteNum }}</a></button>
 </div>
<div class="post comment" >
    <form action="/{{ article.id }}/comment" method="post"  id="form">
         Email:<input type="email" name="email" required><br/>
         Content:<br/> <textarea name="content" id="" cols="30" rows="10"></textarea><br/>
    </form>
    <input type="text" id="code" disabled>
    <input type="text" id="input">
    <button onclick="validate()">submit</button>
    <script>
        var cip_states=[];
        var cip_commentIds=[];
        var cip_IpIds=[];
    </script>
</div>
 <div class="comment" >
 <h1>COMMENTS</h1>
     <div id="div"></div>
    {% for i in range(0,comments |length) %}
        {% set comment=comments[i] %}
        {% set cip=cips[i]   %}
<!--        {% set commentState=cips[i].vote_state%}-->
        <p>{{ loop.index }}. Email:{{ comment.email }}</p>
        <p>PostTime:{{ comment.postTime }}</p>
        <p>Content:{{ comment.content }}</p>

        <div id="vote_div">

        </div>
        {% set up_btn_id='up_btn'~ i|string %}
        {% set down_btn_id='down_btn'~ i|string %}
     <script>
         cip_states.push('{{cip.vote_state}}');
         cip_commentIds.push('{{cip.comment_id}}');
         cip_IpIds.push('{{cip.ip_id}}');
        </script>
        {% if cip.vote_state ==0 %}
            <button id='{{up_btn_id}}' onclick="vote(this,1)">up:{{ comment.upvoteNum }}</button>
<!--        <button><a href="../cupvote/{{ comment.id }}">up:{{ comment.upvoteNum }}</a></button>-->
            <button id="{{down_btn_id}}" onclick="vote(this,2)">down:{{ comment.downvoteNum }}</button>
<!--        <button><a href="../cdownvote/{{ comment.id }}">down:{{ comment.downvoteNum }}</a></button>-->
        {% elif cip.vote_state ==1 %}
            <button id='{{up_btn_id}}' onclick="vote(this,1)" style="color: green">up:{{ comment.upvoteNum }}</button>
            <button id="{{down_btn_id}}" onclick="vote(this,2)">down:{{ comment.downvoteNum }}</button>
        {% else %}
            <button id='{{up_btn_id}}' onclick="vote(this,1)">up:{{ comment.upvoteNum }} </button>
            <button id="{{down_btn_id}}" onclick="vote(this,2)" style="color: red">down:{{ comment.downvoteNum }}</button>
        {% endif %}
<!--        <button id="vote" onclick="ajaxHello()" >submit</button>-->


        {% if flag==1 %}
            <form action="../cdelete/{{ comment.id }}" method="post">
                Password:<input type="password" name="psw">
                <input type="submit" value="delete">
            </form>
        {% endif %}
    {% endfor %}

 </div>

<script>
    // function ajaxHello() {
    //     //todo 有没有这个stringfy都是一样的cip "{&#39;ip_id&#39;: 1, &#39;comment_id&#39;: 10, &#39;vote_state&#39;: 2}"
    //     let original_cip=JSON.stringify("{{cips[0]}}");
    //     let cip="{{cips[0]}}";
    //     let state=original_cip.vote_state;
    //     console.log("Hello "+state);
    //     console.log("cip "+original_cip);
    //     state=cip.vote_state;
    //     console.log("Hello "+state);
    //     console.log("cip "+cip);
    // }
    function vote(vote_btn,btn_type) {
        //get index
        let index=parseInt(vote_btn.id.split('').pop());
        //show change result compare to original state
        if (btn_type===1){
            upVote(vote_btn,index);
        }
        else{
            downVote(vote_btn,index);
        }
        //update vote state to server db
        ajaxUpdateState(index);

    }
    //show change result compare to original state
    function upVote(up_btn,index) {
                //get index of these btn and get original state
        // let index=parseInt(up_btn.id.split('').pop());
        let original_state=cip_states[index];

        //show change result compare to original state
        if(original_state==='2') {
            swapState(up_btn, index, original_state);
            cip_states[index]='1';
        }
        else if (original_state==='1') {
            toggleUpState(up_btn, false);
            cip_states[index]='0';
        }
        else {
            toggleUpState(up_btn, true);
            cip_states[index]='1';
        }
    }

    function downVote(down_btn,index) {
        //get index of these btn and get original state
        // let index=parseInt(down_btn.id.split('').pop());
        let original_state=cip_states[index];

        //show change result compare to original state
            //up -> cancel up and select down
        if(original_state==='1') {
            swapState(down_btn, index, original_state);
            cip_states[index]='2';
        }
            //down -> cancel down
        else if (original_state==='2') {
            toggleDownState(down_btn, false);
            cip_states[index]='0';
        }
            //default->select down
        else {
            toggleDownState(down_btn, true);
            cip_states[index]='2';
        }
    }

    function ajaxUpdateState(index) {
        let newCip={
            'comment_id':cip_commentIds[index],
            'ip_id':cip_IpIds[index],
            'vote_state':cip_states[index]
        };
         $.ajax({
        type:'GET',
        url:'../vote/',
        data:newCip,
        dataType:'json',//希望服务器返回json格式的数据
        success:function(data){
            console.log(JSON.stringify(data));
        }
    });
    }

    function swapState(btn, index, original_state) {
        if (original_state==='1'){
            console.log("original_state");
            let up_id='up_btn'+index;
            let up_btn=$('#'+up_id)[0];
            toggleUpState(up_btn,false);
            toggleDownState(btn,true);
        }
        else {
            console.log("xsadw");
            let down_id='down_btn'+index;
            let down_btn=$('#'+down_id)[0];
            toggleDownState(down_btn,false);
            toggleUpState(btn,true);
        }
        //get up,down btn by index
            //up selected-> cancel and select down
    }
    function toggleUpState(btn, is_selected) {
        console.log("up");
        if (is_selected){
            btn.style.color='green';
        }
        else {
            btn.style.color='black';
        }
    }
    function toggleDownState(btn, is_selected) {

        console.log("down "+btn.id);
        if (is_selected){
            //get black is ok ,but why red is wrong?
            btn.style.color='red';
            // btn.style={'color':'#ff0000'};
            console.log("down "+btn.style.color);
        }
        else {
            btn.style.color='black';
        }
    }


    var code; // 在全局定义验证码

// 生成验证码
window.onload = function createCode() {
	code = "";
	var codeLength = 4;// 验证码的长度
	var checkCode = document.getElementById("code");
	var random = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'A', 'B', 'C', 'D',
			'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q',
			'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];// 随机数
	for (var i = 0; i < codeLength; i++) {// 循环操作
		var index = Math.floor(Math.random() * 36);// 取得随机数的索引（0~35）
		code += random[index];// 根据索引取得随机数加到code上
	}
	checkCode.value = code;// 把code值赋给验证码
}
var form = document.getElementById('form');

// 校验验证码
function validate() {
	var inputCode = document.getElementById("input").value.toUpperCase(); // 取得输入的验证码并转化为大写
	if (inputCode.length <= 0) { // 若输入的验证码长度为0
		alert("Please input captcha"); // 则弹出请输入验证码
		return;
	} else if (inputCode != code) { // 若输入的验证码与产生的验证码不一致时
		alert("Wrong captcha"); // 则弹出验证码输入错误
		createCode();// 刷新验证码
		document.getElementById("input").value = "";// 清空文本框
		return;
	} else {
             form.submit();
	}
}

    </script>
{% endblock %}